.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form-item {
  margin: 5px;
}

.form-item input,
.form-item textarea {
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #00293c;
  border-radius: 10px;
}

.form-btn {
  padding: 15px;
  font-size: 12px bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #f62a00;
  border-radius: 10px;
  box-shadow: 0 5px 5px #999;
  margin: 5px;
  margin-bottom: 20px;
}

.info-form {
  display:inline-block;
  padding:15px 10px;
}

.form-item textarea {
  height: 400px;
}