.footer {
    background-color: #1E656D;
    max-width: 375px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer ul li {
    list-style: none;
}

.footer-icons {
    width:25px;
}